data/processed
data/raw/s3dis
data/raw/scannet_dataset
data/raw/scannet_test_segments/*
eval_output
saved
notebooks
third_party/MinkowskiEngine
third_party/ScanNet
build.log
environment.yml
.git
__pycache__
